---
layout: layout.liquid
title: 11ty Boilerplate
---

<main>
    <div class="planet sun">
        <div class="circle sun"></div>
        <h2>Sun</h2>
        <p class="subtitle">Type G2V</p>
    </div>
    <div class="planet Mercury">
        <div class="circle Mercury"></div>
        <h2>Mercury</h2>
        <p class="subtitle">0.39 AU</p>
    </div>
    <div class="planet Venus">
        <div class="circle Venus"></div>
        <h2>Venus</h2>
        <p class="subtitle">0.72 AU</p>
    </div>
    <div class="planet Earth">
        <div class="circle Earth"></div>
        <h2>Earth</h2>
        <p class="subtitle">1 AU</p>
    </div>
    <div class="planet Mars">
        <div class="circle Mars"></div>
        <h2>Mars</h2>
        <p class="subtitle">1.52 AU</p>
    </div>
    <div class="planet Jupiter">
        <div class="circle Jupiter"></div>
        <h2>Jupiter</h2>
        <p class="subtitle">5.20 AU</p>
    </div>
    <div class="planet Saturn">
        <div class="circle Saturn"></div>
        <h2>Saturn</h2>
        <p class="subtitle">9.58 AU</p>
    </div>
    <div class="planet Uranus">
        <div class="circle Uranus"></div>
        <h2>Uranus</h2>
        <p class="subtitle">19.22 AU</p>
    </div>
    <div class="planet Neptune">
        <div class="circle Neptune"></div>
        <h2>Neptune</h2>
        <p class="subtitle">30.05 AU</p>
    </div>
</main>
