body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2e2e2e;
    padding: 0 40px;
}

p {
    margin-top: 5px;
}

h1{
    font-size: 4.5em;
    letter-spacing: -2px;
}

h2 {
    font-size: 4em;
    letter-spacing: -2px;
    color: #2e2e2e;
    margin: 20px 5% 0 5%;
    width: auto;
}

.subtitle {
    font-size: 3em;
    color: #2e2e2e;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
}

.planet {
    background-color: rgb(141, 141, 141);
    border-radius: 5%;
    box-sizing: border-box;
    min-width: 300px; 
}

.planet.sun {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.circle {
    width: 10em; 
    height: 10em;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    align-items: center;
}

.circle.sun {
    height: 100%;
    width: 100%;
    max-width: 20em;
    max-height: 20em;
}

:root {
    --richs-best-color: red;
}

.circle:hover {
    background-color: var(--richs-best-color)
}